@media only screen and (max-width: 600px) {
  nav{
    width: 98%;
    margin: auto;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    }
  
    nav a{
      text-decoration: none;
      margin-right: 5%;
      font-size: large;
      display: flex;
      align-items: center;
    }
     
  nav a img{
    width: 20px;
    height: 20px;
 
  }

  .hero{
    width: 98%;
    margin: auto;
    margin-top: 3%;
  }
  
  .hero button{
    border-radius: 5px;
    width:100px;
    background-color:  #F36DB8;
  }
  
  .hero button a{
    text-decoration: none;
    color: white;
  }
  
  
  .hero .stage {
    width: 90%;
    animation: sugarLeft 4s ease forwards;
  }
  
  @keyframes sugarLeft {
    0% {
      transform: translateX(-400px);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
  
  .hero .book {
    width: 90%;
    animation: sugarRight 4s ease forwards;
  }
  
  @keyframes sugarRight {
    0% {
      transform: translateX(400px);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }

}

.slide {
  width: 98%;
  margin: auto;
  margin-top: 3%;
}