/* mobile media Query */

@media only screen and (max-width: 768px) {

    nav{
    width: 98%;
    margin: auto;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
   
    }
     
    nav .desktop-logo{
      display: none;
    }
    
    nav .menu-icon{
      margin-left: 15%;
    }
    
    
    nav .nav-link a {
      /* border: 1px solid red; */
      display: none;
    }

        
    nav .contact a{
    text-decoration: none;
    display: flex;
    align-items: center;
    }

    nav .contact img{
      width: 20px;
      height: 20px;
    }
     
  
  .hero{
    width: 98%;
    margin: auto;
    margin-top: 3%;
  }
  
  .hero button{
    border-radius: 5px;
    width:120px;
    margin-top: 1.5%;
    background-color:  #F36DB8;
  }
  
  .hero button a{
    text-decoration: none;
    color: white;
  }
  
  
  .hero .stage {
    width: 90%;
    animation: sugarLeft 4s ease forwards;
  }
  
  @keyframes sugarLeft {
    0% {
      transform: translateX(-400px);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
  
  .hero .book {
    width: 90%;
    animation: sugarRight 4s ease forwards;
  }
  
  @keyframes sugarRight {
    0% {
      transform: translateX(400px);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }



.slide {
  width: 98%;
  margin: auto;
  margin-top: 3%;
}

main{
  width: 98%;
  /* border: 1px solid red; */
  margin: auto;
  margin-top: 3%;
}

main .who-we-are h1{
  margin-top: 2%;
  margin-left: 40%;
}

main .who-we-are p{
  text-align: justify;
  /* border: 1px solid red; */
}

main .who-we-are p a{
  text-decoration: none;
  color: #76174D;
}

main .who-we-are p a:hover{
   color: #F36DB8
}

main .rectangle{
  /* border: 1px solid black; */
  padding-left: 30%;
  
}

main .services{
  background: var(--our-services-background, linear-gradient(270deg, #33031E 0%, #F36DB8 100%));
}


}